.middle_about{
    display: flex;
    padding-top: 40px;
    flex-direction: column;
    align-items: center;
  min-height: 520px;
  font-size: 20px;
  padding-bottom: 24px;
  border-bottom: 1px solid #dee2e6;
  
  }
  .middle__div{
    max-width: 500px;
    min-height: 120px;
    margin: 0px 70px;
  }
  .middle__p{
    margin: 32px 0px;
  }
 
    
  